/*----------------змінні---------------*/
:root {
    /* -------------Text---------------- */
    --body-text: 'Inter', sans-serif;
    --body-text-color: #101010;
    --text-color-light:  #E4D8CC;
    --body-text-size: 14px;
    --body-background-color: #E7DFD8;


}



html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

body {

    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    
    

}

.list {
    list-style: none;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px; 
}

.header {
    
    padding-top: 23px;  
}
.header-box  {
    
    display: flex;
    align-items: center;
    gap:  253px;
    
}
.nav-list,
.contats-list {
    display: flex;
}
.nav-list {
    gap: 32px;
    margin-left: 133px;
}
.contats-list {
    gap: 38px;
   
}

.list {
    
}
.nav-list-item,
.contatts-list-item {
}
.nav-list-link,
.contatts-list-link {
    font-family: inherit;
    color: var(--text-color-light);
    font-size: 11px;
    line-height: 2.18;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.header-hero-box {
    max-width: 1280px;
    max-height: 784px;
    background-image: url(../img/heroImg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

}
.hero {
    padding-top: 364px;
    padding-bottom: 116px;
}

.hero-title {
    width: 838px;
    margin-bottom: 14px;
    font-family: inherit;
    color: var(--text-color-light);
    font-size: 57px;
    line-height: 1.06;
}
.hero-text {
    margin-bottom: 42px;
    color: #C3BAB1;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.56px
}
.hero-btn-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    width: 100%;
}
.hero-btn-item 
    
.hero-btn {
    /* display: inline-block ;
    padding: 14px, 34px; */
    /* min-width: 170px;
    min-height: 52px; */
    display: inline;
    padding: 14px 34px;
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 100px;
    background: rgba(228, 216, 204, 0.50);
    cursor: pointer;
}

.section-bonus {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--body-background-color);
}
/* =================== Bonus================= */

.section-bonus-box {
    display: flex;
    align-items: center;
    gap: 106px;
    padding-top: 75px;
    padding-bottom: 75px;
}
.bonus-title-box {
    
}
.section-bonus-title {
    min-width: 507px;
    min-height: 232px;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 53px;
    line-height: 1.07;
}
.section-bonus-text {
    max-width: 452px;
    min-height: 88px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375; 
}