/*----------------змінні---------------*/
:root {
    /* -------------Text---------------- */
    --body-text: 'Inter', sans-serif;
    --body-text-color: #101010;
    --text-color-light:  #E4D8CC;
    --body-text-size: 14px;
    --body-background-color: #E7DFD8;
    --text-color-mission-tite: #C3BAB1;
    --color-mission-text: #E7DFD8;
    --btn-color: #7837F3;


}



html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}


p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

body {

    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* letter-spacing: 0.02em; */
    
    

}

.list {
    list-style: none;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px; 
}

.header {
    
    padding-top: 23px;  
}
.header-box  {
    
    display: flex;
    align-items: center;
    gap:  253px;
    
}
.nav-list,
.contats-list {
    display: flex;
}
.nav-list {
    gap: 32px;
    margin-left: 133px;
}
.contats-list {
    gap: 38px;
   
}

.nav-list-link,
.contatts-list-link {
    font-family: inherit;
    color: var(--text-color-light);
    font-size: 11px;
    line-height: 2.18;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.header-hero-box {
    max-width: 1280px;
    max-height: 784px;
    background-image: url(../img/heroImg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

}
.hero {
    padding-top: 364px;
    padding-bottom: 116px;
}

.hero-title {
    width: 838px;
    margin-bottom: 14px;
    font-family: inherit;
    color: var(--text-color-light);
    font-size: 57px;
    line-height: 1.06;
}
.hero-text {
    margin-bottom: 42px;
    color: #C3BAB1;
    font-family: Inter;
    font-size: 18px;
    line-height: 1.56px
}
.hero-btn-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    width: 100%;
}

    
.hero-btn {

    display: inline;
    padding: 14px 34px;
    color: #FFF;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 100px;
    background: rgba(228, 216, 204, 0.50);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
}

.section-bonus {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: var(--body-background-color);
}
/* =================== Bonus================= */

.section-bonus-box {
    display: flex;
    align-items: center;
    gap: 106px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-bonus-title {
    min-width: 507px;
    min-height: 232px;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 53px;
    line-height: 1.07;
}
.section-bonus-text {
    max-width: 452px;
    min-height: 88px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375; 
}

/* -----------------bonus-list----------- */

.bonus-box-first,
.bonus-box-third {
    display: flex;
    gap: 116px;
    padding-top: 124px;
    padding-bottom: 81px;

}

.bonus-box-second {
    display: flex;
    gap: 139px;
    padding-top: 124px;
    padding-bottom: 59px;
}

.bonus-img {
    border-radius: 12px;
}
.bonus-box-text{
    max-width: 495px;
}
.bonus-box-second .bonus-img {
    width: 518px;
}
/* .bonus-block-second .bonus-block-text{
    max-width: 485px;
} */
.bonus-box-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 12px;
    margin-bottom: 18px;
}
.title-number-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 100px;
}

.title-number {
    
    font-family: inherit;
    font-size: 38px;
    line-height: 1.58; 
    text-align: center;
}
.bonus-box-first .title-number-box{
    background-color:  #B99FEA;
}
.bonus-box-second .title-number-box {
    background-color:  #EBA789;
}
.bonus-box-third .title-number-box {
    background-color:  #96DBC6;
}
.bonus-box-title {
    font-family: inherit;
    font-size: 19px;
    line-height: 0.53;
    
}
.bonus-box-subtitle {
    font-family: inherit;
    font-size: 35px;
    line-height: 45.632px; /* 130.377% */
    letter-spacing: 1px;
    
    margin-bottom: 9px;
}
.expand-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
    position: relative;
    margin-bottom: 45px;
    

}
.expand-box::after {
    content: "";
    display: block;
    position: absolute;
    top: left 0;
    bottom: 0;
    width: 95px;
    height: 2px;
    background-color: var(--body-text-color);
    
}
.expand-box-span {
    font-family: inherit;
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--body-text-color);
}


.bonus-box-text {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.577; /* 157.714% */
}

/* -----------------------section-quote--------------- */

.section-quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 128px;
    padding-top: 116px;
    padding-bottom: 112px;
}


.section-quote-box {
    min-width: 489px;
    

}
.section-quotes {
    width: 72px;
    height: 62px;
    margin: auto;
    margin-bottom: 48px;

}
.section-quote-text{
    
    font-family: inherit;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    color: var(--text-color-light);
    margin-bottom: 61px;

}
.author-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;


}
.author-photo{
    width: 73px;
    height: 73px;
    border-radius: 50%;
}
.author-name{
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-light);
    }
.forbes-image {
    width: 140px;
    height: 37px;
    margin: auto;
}

/* --------------- section-questions-------------*/
.section-questions{
    display: flex;
    gap:120px;
    padding-top: 100px;
    padding-bottom: 71px;
    background: #101010;
}
.section-questions-title {
    
    font-family: inherit;
    font-size: 36px;
    line-height: 1.268; /* 126.756% */
    letter-spacing: 1px;
    color: var(--text-color-light);
    margin-bottom: 45px;
}
.questions-list{
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.questions-item{
    
    font-family: inherit;
    font-size: 20px;
    line-height: 1.4;
    color: #B99FEA;
}

.section-questions-icon{
    fill:  #D8CCBF;;
}

.bonus-mission {
    max-width: 1280px;
    padding-top: 139px;
    padding-bottom: 112px;
    background-image: url(../img/backgraund-img.jpeg);
    ;
}
.bonus-mission-title{
    
    font-family: inherit;
    font-size: 15px;
    line-height: 1.067; 
    color: var(--text-color-mission-tite);
    margin-bottom: 19px;
}
.bonus-mission-text{
    
    max-width: 666px;
    margin-bottom: 24px;
    font-family: inherit;
    font-size: 48px;
    line-height: 1.125;
    color: var(--color-mission-text);
}
.bonus-mission-link{
    
    font-family: inherit;
    font-size: 12px;
    padding-bottom: 14px;
    position: relative;
    line-height: 1.67; /* 166.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color-light);
}

.bonus-mission-link::after{
    content: "";
    display: block;
    position: absolute;
    top: left 0;
    bottom: 0;
    width: 271px;
    height: 1px;
    background-color: var(--text-color-light);
}

/* ------------------------- last-section-------------*/
.last-section{
    position: relative;
    padding-top: 78px;
    padding-bottom: 121px;
    background-color: var(--body-text-color);
}
.last-section::after{
    content: "";
    display: block;
    position: absolute;
    top: right 0;
    bottom: 0;
    width: 1147px;
    height: 1px;
    background-color:rgba(228, 216, 204, 0.16);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.last-btn-box{
    margin-bottom: 86px;
}

.last-btn-list{
    display: flex;
    gap: 42px;
}
.last-btn-title{
    
    margin-bottom: 19px;
    font-family: inherit;
    font-size: 23px;
    line-height: 1.04;
    color: var(--text-color-light);
}

.last-btn {
    padding: 9px 32px;
    border-radius: 100px;
    border: 1px solid #E4D8CC;
    background-color: transparent;

    color: #FFFAF5;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
}
.last-btn:nth-child(2n){
    padding-left: 25px;
    padding-right: 25px;
}

.last-btn:hover,
.last-btn:focus {
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
}
.last-list-box{
    display: flex;
    justify-content: space-between;
    gap: 309px;
}

.last-nav-list{
    display: flex;
    gap: 75px;
}

.last-nav-title{
    margin-bottom: 48px;
    font-family: inherit;
    font-size: 20px;
    /* line-height: 0.8; */
    color: var(--text-color-light);
}
.nav-link-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 47px;
    
}
.last-nav-link{
    width: 100%;
    min-height: 100%;
    font-family: inherit;
    font-size: 16px;
    /* line-height: 0.16px;  */
    color: var(--text-color-light);
}

.svg-box{
    padding-top: 29px;;
}
.svg-box-icon{
    width: 60px;
    height: 55px;
    margin-bottom: 47px;
}
.svg-box-text{
    
    text-align: right;
    font-family: inherit;
    font-size: 14px;
    line-height: 2;
    color: var(--text-color-light);
}

/* ------------------- footer---------------*/

.footer{
    display: flex;
    align-items: center;
    align-content: center;
    gap:286px;
    padding: 28px 71px;
    background-color: #101010;
}


.footer-list{
    display: flex;
    gap: 298px;
}

.footer-soc-icon{
    fill:var(--body-background-color)
}

.footer-soc-icon:focus,
.footer-soc-icon:hover{
    fill: var(--btn-color);

}
.footer-text{

    text-align: right;
    font-family: inherit;
    font-size: 11px;
    line-height: 1;
    color: var(--text-color-light);
}